{%  extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}


        <div class="alert alert-success alert-dismissible fade show" role="alert">
         <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

{% if name %}

    <h6> Welkom {{ name|title }} </h6>

   <table class="table table-hover table-bordered table-striped">
    {% for item in our_users%}

        <tr>
        <td>

{#            <div class="alert alert-primary" role="alert">#}
            {{ item.id }}<a href="{{url_for('update', id=item.id)}}"> -
            {{ item.name }}</a> - {{ item.email }} - {{ item.favorite_color }}
{#            </div>#}

        </td></tr>

{##}
{##}
{#    {%  endfor %}#}

{% endfor %}


{% else  %}

    <div style="text-align: left;">
    <h5>gebruiker toevoegen</h5></div>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <br/>
        <br/>
        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control") }}
        <br/>
        <br/>

        {{ form.submit(class="btn btn-secondary") }}
    </form>



    <br/>
    <br/>
    <br/>
    <table class="table table-hover table-bordered table-striped">
    {% for item in our_users%}

        <tr>
        <td>

{#            <div class="alert alert-primary" role="alert">#}
            {{ item.id }}<a href="{{url_for('update', id=item.id)}}"> -
            {{ item.name }}</a> - {{ item.email }} - {{ item.favorite_color }}
{#            </div>#}

        </td></tr>





    {%  endfor %}

    {% endif %}


    {%  endblock %}